#lesson-details {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #e88181;
    border: 1px solid #ccc;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: inline-block;
    transition: background-color 0.3s ease; 
    width: 30%;
    text-align: center;
}

#lesson-details:hover {
    background-color: #fec2c2; 
}
.lesson-has-begun {
    background-color: #51bdbf !important; 
    border: 1px solid #02b09c  !important;
    color: #004d40  !important;
}
.lesson-has-begun:hover{
    background-color: #abeaeb !important; 
}
