mat-form-field {
    width: 100%;
    text-align: right;
  }

  form{
    background-color: gray;
    border: 2px solid rgb(92, 90, 90);
    padding: 10px;
    width: 20%;
  }

  body{
    text-align: center;
  }