/* כלליים */
/* body {
  font-family: 'Amatic SC', cursive; 
  background: linear-gradient(135deg, #fff4e6, #f59d3f);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  color: #333;
} */

/* טופס */
::ng-deep form {
  background: linear-gradient(135deg, #fff4e6, #f59d3f);
  border-radius: 20px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
  padding: 40px;
  width: 500px;
  text-align: center; 
  animation: fadeIn 0.6s ease-in-out;
}


mat-form-field {
  width: 100%;
  margin-bottom: 20px; 
  direction: rtl; 
}

mat-form-field mat-label {
  text-align: right; 
  color: black;
  font-family: 'Amatic SC', cursive;
  font-size: 20px;
}

/* כפתור התחברות */
button {
  width: 100%; 
  padding: 15px;
  border-radius: 10px;
  font-size: 25px; 
  font-weight: bold;
  background: linear-gradient(135deg, #cccbcb, #9f9f9f); /* מעבר צבעים כתום */
  color: white;
  color: aqua;
  transition: transform 0.2s ease, background 0.3s ease; /* אפקטים */
}

button:hover {
  background: linear-gradient(135deg, rgb(159, 158, 158), rgb(99, 99, 99)); /* צבע כהה יותר כשעוברים על הכפתור */
  transform: scale(1.05);
}

/* הודעות שגיאה */
mat-error {
  font-size: 14px; 
  color: red; 
}

/* אנימציה לטופס */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}